*, *:before, *:after {
  box-sizing: inherit;
}

/* ==========================================================================
   custom styles
   ========================================================================== */

html {
  box-sizing: border-box;
  color: #6D6E71;
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  font-weight: 400;
}

body {
  font-size: 1.4rem; 
}

main {
  background-color: #e5f3f2;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 9.5rem;
  font-weight: 700;
  padding: 5vw 0;
  text-align: center;
}

h1 span {
  color: #00A79d;
}

form {
  width: 60vw;
  margin: 0 auto;
}

input {
  width: 60vw;
  font-size: 3rem;
  padding: 5px 0 5px 10px;
}

input::placeholder {
  color: #d1d2d4;
}

footer {
  border-bottom: 1px solid #D1D2D4;
}

.form__input-body {
  margin-top: 2.1rem;
}

.button__save {
  color: #fff;
  background-color: #00A79D;
  font-size: 3rem;
  padding: 5px 0 5px 0;
  width: 60vw;
  margin: 2.1rem 0 4rem;
}

.button__save:hover {
  background-color: #045e55;
}

.section__bottom {
  margin: 0 auto;
  width: 60vw;
  border-bottom: 1px solid #D1D2D4;
}

.input__search {
    font-size: 3rem;
    margin: 2.1rem auto 0;
    display: block;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 60vw;
}

.article__h2-title {
  margin-top: 4rem;
  width: 40vw;
  font-size: 3rem;
  font-family: 'Roboto Slab', serif;
}

.article__button-delete {
  margin-top: 3.3rem;
  width: 3rem;
  height: 3rem;
  padding: 0;
  background-image: url("../images/delete.svg");
  border: none;
}

.article__button-delete:hover {
  background-image: url("../images/delete-hover.svg");
}

.article__button-upvote {
  margin: 1.5rem 1.5rem 0 0;
  width: 3rem;
  height: 3rem;
  padding: 0;
  background-image: url("../images/upvote.svg");
  border: none;
}

.article__button-upvote:hover {
  background-image: url("../images/upvote-hover.svg");
}

.article__button-downvote {
  margin: 1.5rem 1.5rem 0 0;
  width: 3rem;
  height: 3rem;
  padding: 0;
  background-image: url("../images/downvote.svg");
  border: none;
}

.article__button-downvote:hover {
  background-image: url("../images/downvote-hover.svg");
}

.container2 {
  margin-bottom: 1.5rem;
  width: auto;
  display: inline-flex;
  justify-content: space-between;
  font-size: 2rem;
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  align-self: center;
  margin-top: 1rem;
}

.container2 p {
  padding-top: 18px;
}

.article__p-content {
  margin-top: 1rem;
  width: 100%;
}

.quality {
  font-size: 2rem;
  font-family: 'Roboto Slab', serif;
  align-self: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.quality__light {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Roboto Slab', serif;
  align-self: center;
  margin-bottom: 1rem;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (max-width: 600px) {
  h1 {
    font-size: 14vw;
  }
  form {
    width: 80vw;
  }
  input {
    width: 80vw;
    font-size: 2.5rem;
  }
  .button__save {
    width: 80vw;
  }
  .section__bottom {
    width: 80vw;
  }
  .container {
    width: 80vw;
  }
  .article__h2-title {
    margin-top: 3rem;
    width: 60vw;
  }
}