*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  color: #6D6E71;
}

body {
  font-size: 1.4rem; /* =14px */
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 9.5rem;
  /* =24px */
}

main {
  background-color: #e5f3f2;
}

h1 {
  font-weight: 700;
  text-align: center;
  padding: 5vw 0;
}

h1 span {
  color: #00A79d;
}

form {
  width: 60%;
  margin: 0 auto;
}

input {
  width: 60vw;
  font-size: 3rem;
  padding: 5px 0 5px 10px;
}

input::placeholder {
  color: #d1d2d4;
}


.form__input-body {
  margin-top: 2.1rem;
}

.button__save {
  color: #fff;
  background-color: #00A79D;
  font-size: 3rem;
  padding: 5px 0 5px 10px;
  width: 60vw;
  margin: 2.1rem 0 4rem;
}

.button__save:hover {
  background-color: #045e55;
}

.section__bottom {
  margin: 0 auto;
  width: 60vw;
  border-bottom: 1px solid #D1D2D4;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 60vw;
}

.input__search {
  font-size: 3rem;
  margin: 2.1rem auto 0;
  display: block;
}

.article__h2-title {
  margin-top: 4rem;
  width: 40vw;
  height: 4rem;
  font-size: 3rem;
  font-family: 'Roboto Slab', serif;
}

.article__button-delete {
  margin-top: 3.3rem;
  width: 3rem;
  height: 3rem;
  padding: 0;
}

.article__button-upvote {
  /*margin-top: 1.5rem;*/
  margin: 1.5rem 1.5rem 0 0;
  width: 3rem;
  height: 3rem;
  padding: 0;
}

.article__button-downvote {
  /*margin-top: 1.5rem;*/
  margin: 1.5rem 1.5rem 0 0;
  width: 3rem;
  height: 3rem;
  padding: 0;
}

.container2 {
  margin-bottom: 1.5rem;
  width: auto;
 display: inline-flex;
 justify-content: space-between;
  font-size: 2rem;
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  align-self: center;
  margin-top: 1rem;
}

.container2 p {
  padding-top: 18px;
}

footer {
  border-bottom: 1px solid #D1D2D4;
}

.article__p-content {
  margin-top: 1rem;
  width: 100%;
}

.quality {
  font-size: 2rem;
  font-family: 'Roboto Slab', serif;
  align-self: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.quality__light {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Roboto Slab', serif;
  align-self: center;
  margin-bottom: 1rem;
}
